<div class="container">
    <div class="d-flex justify-content-center">Les Taches</div>
    <button type="button" class="btn btn-primary">
        Louis Martin <span class="badge badge-light"></span>
        <span class="sr-only">unread messages</span>
        <span class="badge badge-pill badge-warning">Warning</span>
    </button>
    <br>
    <br>
    <div id="calendar"></div>
    <div>a Je suis modifier est ce que git va le voir ? Bonne question héhéhé</div>
    <div class="container">
            <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins2"></full-calendar>
    </div>
</div>

<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8' />
  <title>Utopian-io – Drag and Drop Event Calendar</title>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css' rel='stylesheet' />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css' media='print' /> 
  <style>
    body {
      margin: 40px 10px;
      padding: 0;
      font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
      font-size: 14px;
    }
    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
</style>
</head>
<body>

   <div id='calendar'></div>
    <p>a</p>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js'></script>
  <script type="text/javascript">
    $(document).ready(function() {

    $('#calendar').fullCalendar({
    });

  });
  </script>
</body>
</html> -->