<form>
    <div class="form-group">
        <div class="form-group col-md-6">
                <p>Ajout d'un document</p>
            <div class="form-group col-md-6">

                <label>Id du document</label>
                <input type="number" class="form-control" id="inputIdDocument">

                <label>Date de creation</label>
                <input type="date" class="form-control" id="inputDateCreationDocument">

                <label>Nom du document</label>
                <input type="text" class="form-control" id="inputNomDocument" >

                <label>Description du document</label>
                <input type="text" class="form-control" id="inputDescriptionDocument">

                <label>Id de l'affaire</label>
                <input type="number" class="form-control" id="inputIdAffaireDocument" >
                <br>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </div>
</form>