<div class="container">
    <div class="d-flex justify-content-center">Les Affaires</div>
    <button type="button" class="btn btn-primary">
        Louis Martin <span class="badge badge-light"></span>
        <span class="sr-only">unread messages</span>
        <span class="badge badge-pill badge-warning">Warning</span>
    </button>
    <br>


    <br>
    <div class="row">
        <div class="container">
            <div class="navbar navbar-light bg-light">
                <!-- <input type="text" [(ngModel)]="term" class="form-control" type="text" placeholder="Recherche"> -->
            </div>

            <div class="card">
                <div class="card-header">
                    Liste de documents
                    <div class="float-right">
                        <button class="btn btn-primary ml-1">TOUT</button>
                        <button class="btn btn-primary ml-1">ENCOURS</button>
                        <button class="btn btn-primary ml-1">A VENIR</button>
                        <button class="btn btn-primary ml-1">ARCHIVES</button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th>Id</th>
                            <th>Reference</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Liste de taches</th>
                            <th>Liste de Documents</th>
                        </thead>

         


                        <!-- <tr *ngFor="let item of joueurs|filter:term, let i = index"> -->
                        <tr *ngFor="let item of affaires, let i = index">
                        <!-- <tr *ngFor="let dummy of ' '.repeat(100).split(''), let x = index"> -->

                            <td>{{item.idAffaire}}</td>
                                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi consectetur fugiat
                                recusandae quos ipsam excepturi repellat placeat ducimus culpa ab? Nobis beatae aperiam
                                    quia repellat, laboriosam fugiat consequatur quo saepe blanditiis recusandae repellendus
                                    non veritatis facilis, aliquid cupiditate porro sunt esse? In quas harum architecto quia
                                    inventore, cum quae repudiandae id delectus explicabo corrupti error adipisci eveniet
                                    quasi consequatur nulla, amet impedit consectetur. Iure deleniti, dolore facilis quos
                                    unde placeat magnam, natus mollitia tempore dolor, maiores quisquam. Hic aperiam illum
                                    expedita assumenda! Voluptatibus, maiores. Odit quas maxime illo aspernatur aliquid
                                    repellat obcaecati maiores aut omnis, numquam atque voluptates impedit iure! </td>
                            <td>{{item.reference}}</td>
                            <td>{{item.titre}}</td>
                            <td>{{item.description}}</td>
                            <td>{{i}}</td>
                            <!-- <td><button class="btn btn-warning" (click)="edit(item.id)">Edit</button></td> -->
                            <!-- <td><button class="btn btn-danger" (click)="delete(item.id, i)">Delete</button></td> -->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>