<form>
        <div class="form-group">
            <div class="form-group col-md-6">
                    <p>Ajout d'un tache</p>
                <div class="form-group col-md-6">
    
                    <label>Id du tache</label>
                    <input type="number" class="form-control" id="inputIdtache">
    
                    <label>Date de creation</label>
                    <input type="date" class="form-control" id="inputDateCreationtache">
    
                    <label>Nom du tache</label>
                    <input type="text" class="form-control" id="inputNomtache" >
    
                    <label>Description du tache</label>
                    <input type="text" class="form-control" id="inputDescriptiontache">
    
                    <label>Id de l'affaire</label>
                    <input type="number" class="form-control" id="inputIdAffairetache" >
                    <br>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </div>
    </form>