<!-- <div class="container">
    <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"></full-calendar>
</div> -->
<!-- <p>it's working</p> -->
<div class="container">
<a href="/" class="btn btn-primary">Home</a>
<a class="btn btn-primary" href="/affaires/tab">Liste Affaires (tab)</a>
<a class="btn btn-primary" href="/documents/list">Liste Documents</a>
<a class="btn btn-primary" href="/phases/list">Liste Phases</a>
<a class="btn btn-primary" href="/taches/tab">Liste Taches (tab)</a>
<a class="btn btn-primary" href="/tribunals/list">Liste Tribunals</a>
<a class="btn btn-primary" href="/utilisateurs/list">Liste Utilisateurs</a>
</div>
<router-outlet></router-outlet>