<div class="row">
        <div class="container">
            <div class="navbar navbar-light bg-light">
                <input type="text" [(ngModel)]="term" class="form-control" type="text" placeholder="Recherche">
            </div>
            
            <div class="card">
                <div class="card-header">
                    Liste de phases
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th>idPhase</th>
                            <th>Nom</th>
                            <th>Date Debut</th>
                            <th>Date Fin</th>
                            <th>Id des Taches</th>
                            <th>Edit</th>
                            <th>Suppression</th>

                        </thead>
                        <tr *ngFor="let item of phases|filter:term, let i = index">
                            <td>{{item.idPhase}}</td>
                            <td>{{item.nom}}</td>
                            <td>{{item.dateDebut |  date:'MM/dd/yyyy'}}</td>
                            <td>{{item.dateFin |  date:'MM/dd/yyyy'}}</td>
                            <td>{{i}}</td>
                            
                            <td><button class="btn btn-warning" (click)="edit(item.id)">Edit</button></td>
                            <td><button class="btn btn-danger" (click)="delete(item.id, i)">Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>